/* $font-text: 'Hurricane', cursive;
$font-header: 'Roboto', sans-serif; */

div {
    margin: 0 auto;
    max-width: max-content;
}

h1 { 
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Hurricane', cursive;
    
}
#ff5252
